th, td {
    white-space: nowrap;
    border-style: none;
}

thead tr {
    position:sticky;
    top: 0;
    background-color: rgb(187, 187, 187);
    border-color: black;
    border-style: solid;
}

.table-responsive {
    height: 700px;
}